---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Statement from '../components/Statement.astro';
import ComingSoon from '../components/ComingSoon.astro';
---

<Base>
  <Header />
  <main id="contenido">
    <Hero />
    <Statement />
    <ComingSoon />
  </main>
</Base>
